* {
    margin: 0;
    padding: 0;
}
.zag {
    margin: 0 500px;
}
.knopki {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;   
}
.knopka {
    width: 150px;
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
}
.box {
    width: 900px;
    height: 450px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px auto;
    position: relative;
    border-radius: 10px;
}
.begunok {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 60, 0);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}